/java/Leccion2/CicloWhile/nbproject/private/
/java/Leccion2/CicloWhile/build/
/java/Leccion1/HolaMundo/build/
/java/Leccion1/HolaMundo/nbproject/private/
/java/Leccion4/Aritmetica/nbproject/private/
/java/Leccion4/EjercicioCiclos07/nbproject/private/
/java/Leccion2/EjercicioCiclos07/nbproject/private/
/java/Leccion2/EjercicioCiclos07/build/
/java/Leccion4/Aritmetica/build/
